<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="styles.css">
    <title>To Do List</title>
</head>
<body>
<h1>Todos</h1>
<h2>New Todo</h2>
<div>
    <form action="#" th:action="@{/todo/}" method="post" th:object="${todoObject}">
        <label for="name">Task</label>
        <input type="text" id="name" th:field="*{title}" required autofocus>
        <button type="submit">GO</button>
    </form>
</div>
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todoItem : ${todo}">
            <td th:text="${todoItem.getId()}"></td>
            <td th:text="${todoItem.getTitle()}"></td>
            <td th:text="${todoItem.getDone()}"></td>
            <td th:text="${todoItem.getUrgent()}"></td>
            <td> <form action="#" th:action="@{|${todoItem.getId()}/delete|}" method="POST">
                <p><input th:type="submit" value="delete" class="btn btn-dark" /></p></form></td>
            <td><a th:href="@{|${todoItem.getId()}/edit|}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>